<%= link_to "Back to Duty list", duties_path %>
<%= form_for @duty do |f| %>
<table>
  <tr>
    <td>Supervisor:</td>
    <td>
      <%= f.collection_select :supervisor_id, @supervisors, :id, :fullname %>
    </td>
  </tr>
  <tr>
    <td>Date:</td>
    <td><%= @date.strftime("%a, %d/%m/%Y") %></td>
  </tr>
</table>
<%= f.submit "Submit" %>
<% end %>